  <header class="header">
    <div class="grid--module">
      <div class="header__content">
        <a class="header__content--logo" href="{{ '/' }}" aria-label="Voltar para a home">Home</a>
      </div>
    </div>
  </header>
