---
layout: default
image: /assets/images/thumbnail.jpg
---
<section class="hero">
  <div class="hero__error">
    <h1 class="hero__error--title"><span class="emoji">&#128563;</span><br>Desculpe, a página que você está procurando não existe.</h1>
    <a role="button" href="/" class="btn btn__primary hero__error--btn">Voltar para a home</a>
  </div>
</section>
/
