<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
  <head>
    <meta charset="UTF-8"/>ome
  </head>
  <body>
    {% include "header" %}
    <main>
    {{ content }}
    </main>
  </body>
</html>
