---
layout: default
---
<article class="page grid--module" role="article">
  <div class="page__content" itemprop="articleBody">
    <div class="page__content--container">
      {{ content }}
    </div>
  </div>
</article>
